# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# Flask
instance/
.webassets-cache

# Environment Variables
.env

# Uploaded and processed files
app/static/uploads/*
app/static/processed/*
!app/static/uploads/.gitkeep
!app/static/processed/.gitkeep

# Mac
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log